/* Body */
body{
    background-color: grey;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Header */
header{
    background-color: white;
    text-align: center;
    height: 150px;
}

header h1{
    line-height: 200%;
    padding-top: 16px;
}

/* Navigation */
ul{
    list-style-type: none;
}

nav
{
    height: 100px;
    padding: 8px;
    text-align: center;
}

.nav{
    display: inline-block;
    padding: 24px;
}