*{
    margin: 0;
    padding: 0;
}

/* Body */
body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Header */
/* header h1{
    line-height: 200%;
    padding-top: 16px;
} */

/* Navigation */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    color: black;
}

li {
    float: right;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    color: red;
}