@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

/* Body */
body{
  color: white;
  background-color: rgb(36, 36, 36);
    font-family: 'Poppins', sans-serif;
}

/* Navigation */
ul{
  list-style-type: none;
}
nav,
.nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: white;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color:grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,181);
}

.logo{
    font-size: 2rem;
}

.logo:hover{
    cursor: default;
    color: grey;
}

/* Sections */

section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}

/* Profile Section */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
  }

.section__pic-container {
    display: flex;
    object-fit: cover;
    height: 400px;
    width: 400px;
    margin: auto 0;
  }

  .section__text {
    align-self: center;
    text-align: center;
  }

  .section__text p {
    font-weight: 600;
  }
  
  .section__text__p1 {
    text-align: center;
  }

  .section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

.title {
  font-size: 3rem;
  text-align: center;
}

/* About */
#about{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-text{
  margin-left: auto;
  margin-right: auto;
  padding: auto 0;
  width: 50rem;
  line-height: 2.5rem;
}

.about-text:hover{
  font-weight: bold;
}

.about-text a{
  font-weight: bold;
}
.about-text a:hover{
  color:grey;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: rgb(181,181,181);
}

/* Skill */

#skill{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.skill-container{
  width: 60rem;
}

.my-skill{
  font-size: large;
  font-weight: 900;

  color: white;
  margin: 0;
  display:inline-block;

  padding: 1rem;
  margin: 0.5rem auto;
  border: white 0.1rem solid;
  border-radius: 2rem;
}

.my-skill:hover{
  color: grey;
  background-color: white;
}

/* Projects */
#projects {
  position: relative;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.my-project {
  width: calc(33.33% - 1rem);
  margin-bottom: 2rem;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  padding: 1rem;
  box-sizing: border-box;
}

.my-project img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.my-project h2 {
  margin-bottom: 0.5rem;
}

.my-project p {
  margin-bottom: 1rem;
}


/* Contact */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
  height: 3rem;
  -webkit-filter: invert(100%);
}

.email-icon{
  height: 4rem;
}

/* Buttons */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  color: white;
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* Footer */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

footer a:hover{
  color:grey;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: rgb(181,181,181);
}